body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin: 40px 0;
  width: 800px;
  height: 200px;
  line-height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -100px;
}

.room {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.room h2 {
  font-size: 30px;
  color: white;
  background: black;
  padding: 20px;
  font-weight: 300;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.room h2 strong {
  font-weight: 700;
}

#kitchen {
  background-image: url(kitchen.jpg);
}

#meeting-room {
  background-image: url(meeting-room.jpg);
}

#lounge {
  background-image: url(lounge.jpg);
}